.main-menu a{
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;
    color: #000000;
    font-size: 14px;
    line-height: 11px;
    text-decoration: none;
    font-weight: bold;
      
}
.main-menu-link{
    margin-left: 30px;
}
a:hover{
   color: rgb(26, 188,156); 
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}  
.article-list-item a{
    text-decoration: none;
}
.cart:hover .article-list-item-price{
    background-color: rgb(127, 217,199);
}
.cart:hover .article-list-item-name{
    background-color: rgb(26, 188, 156);
}
.main-menu li{
    float: left;
}
.main-menu{
    padding: 0px;
    margin: 0px;
    float: right;
    padding: 10px 0px;
    /* outline: 2px solid red; */
}
.site-logo{
    float: left;
    /* outline: 2px solid red; */
    margin: 0px;
}
.main-nav{
    padding: 20px 0px;
    /* outline: 2px solid rgb(10, 0, 0); */
}
.wrapper{
    width: 1110px;
    margin: 0px auto;
    /* outline: 2px solid red; */
}
.article-list-item{
    float: left;
    width: 255px;
    height: 323px;
    /* outline: 2px solid red; */
    margin-bottom: 30px;
    background-color: rgb(233, 240, 253);
    cursor: pointer;
}
.article-list-item:not(:nth-child(4n)){
    margin-right: 30px;
}

.article-list-item img{
    max-width: 100%;
    display: block;
    vertical-align: middle;

}
.cart-img {
    width: 255px;
    height: 283px;
    overflow: hidden;
    text-align: center;
}
.article-list{
    padding-left: 0px;
}
.article-list-item-name{
    background-color: rgb(50, 50, 50);
    width: 200px;
    height: 41px;
    float: left;
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;
    text-indent: 14px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    /* outline: 2px solid blue; */

}
.article-list-item-price{
    background-color: rgb(140, 140, 140);
    width: 55px;
    height: 41px;
    float: left;
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.news-card{
    float: left;
    width: 350px;
    height: 500px;
    /* outline: 2px solid red; */
    margin-bottom: 30px; 
    margin-left: 0px;
    
}
.news-card:not(:nth-child(3n)){
    margin-right: 30px;
}
.news-list{
    padding: 0px;
}
.featured-products {
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;
    color: rgb(81, 81, 81);
    font-size: 48px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
}
h2::after{
    display: block;
    width: 170px;
    height: 10px;
    background-color: rgb(78, 198, 171);
    margin: 0 auto;
    margin-top: 32px;
        content: "";
    }
.latest-news{
    font-family: "Myriad Pro", sans-serif;
    text-transform: uppercase;
    color: rgb(81, 81, 81);
    font-size: 48px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
}
h3{
    font-family: "Myriad Pro", sans-serif;
    color: rgb(81, 81, 81);
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
    text-align: left;
}
h3::after{
    display: block;
    width: 137px;
    height: 3px;
    background-color: rgb(78, 198, 171);
    margin: 0;
    margin-top: 15px;
    content: "";
}
.news-text{
    font-family: "Myriad Pro", sans-serif;
    color: rgb(85, 82, 82);
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-align: left;
}
.read-more{
    height: 52px;
    width: 160px;
    background-color: rgb(78, 198, 171);
    margin-top: 10px;
    color: rgb(196, 236, 227);
    outline: none;
    border: none;
}